@import "vars";
@import "fonts";
@import "libs";

// Default //
body {
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
	position: relative;
	line-height: 1.5;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
}
section {
	margin-top: 80px;
	margin-bottom: 120px;
}
input, textarea{
	-webkit-appearance: none;
	-moz-appearance:none;
	appearance:none;
	border-radius: 0;
}
input[type=checkbox] {
    display: none;
}


.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}
.block-center {
	margin: auto;
}
.text-center {
	text-align: center;
}

b, strong {
	font-family: $font-bold;
	font-weight: bold;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
	font-size: 48px;
	font-weight: 700;
	font-family: $font-bold;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 70px;
}
ul,li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
* {
	outline: none;
}
a {
	color: $text;
	display: inline-block;
}

// Стили header

.header {
	.row {
		justify-content: center;
		align-items: center;
	}
	&-logo {
		text-align: center;
		a {
			padding: 20px 0;
		}
	}
	&-menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		&__item {
			padding-left: 20px;
			position: relative;
			&:before {
				content: '\2022';
				display: block;
				position: absolute;
				font-size: 14px;
				left: -10px;
				top: 3px;
			}
			&:first-child:before {
				content: none;
			}
		}
	}
}
%icons {
	background-color: #e8e7e4;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}
// Стили Section AUTO

.s-auto {
	margin-top: 0;
	.row {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&-swiper-container {
		width: 100%;
		position: relative;
	}
	&-slide {
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		height: 800px;
	}
	&-form {
		position: absolute;
		top:250px;
		right: 15%;
		z-index: 50055252525;
		background-color: #d5cfc7;
		opacity: .85;
		border-radius: 20px;
		border-bottom: 2px solid #fff;
		border-top: 2px solid #fff;
        width: 340px;
		&__wrapper {
			padding: 30px;
		}

	}
	&-social {
		width: 100%;
		 background: linear-gradient(to right, #fff 30%, #e8e7e4 30%);
		 padding: 20px 0;
		 .row {
		 	flex-direction: row;
		 }
		 &-wrapp {
		 	display: flex;
		 	justify-content: space-between;
		 	align-items: center;
		 }
		img {
		 	height: 30px;
		 }
	}
	&-social-2 {
		position: relative;
		&-content {
			&__title {
				text-align: center;
				font-family: $font-bold;
			}
		}
		&-icons {
			display: flex;
			width: 90%;
			justify-content: space-around;
			position: absolute;
			top: -80px;
			z-index: 500;
			&__vk {
				@extend %icons;
			}
			&__insta {
				@extend %icons;
			}
		}
	}
	&-social-3 {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		&-phones {
			width: 60%;
		}
		&-icon {
			margin-right: 20px;
		}
	}
	.form {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		input {
			margin-bottom: 20px;

		}
		input[type=checkbox] + label span {
			display: inline-block;
		    width: 34px;
		    height: 24px;
		    background-color: #3c3c3c;
		    border: 3px solid #3c3c3c;
		    vertical-align: middle;
		    margin-right: 12px;
		    padding: 0;
		    cursor: pointer;
		    display: flex;
		    align-items: center;
		    justify-content: center;

		}
		input[type=checkbox]:checked+label span:before {
			content: '\2713';
		    font-size: 20px;
		    line-height: 20px;
		    text-align: center;
		    display: block;
			color: rgb(196, 195, 195);
		}
		label {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			font-size: 16px;
			margin-bottom: 20px;
			&:before {
				border-radius: 3px;
			}
		}
		a {
			width: 100%;
			border-radius: 5px;
			background-color: rgb(60, 60, 60);
			padding: 10px;
			text-align: center;
			 color: rgb(196, 195, 195);
		}
		&__input {
			padding: 10px;
			border-radius: 5px;
			background-color: rgb(182, 180, 175);
			text-align: center;
			width: 100%;
		 	color: rgba(0, 0, 0, 0.502);
		}
	}
}

// Section ADVANTAGES
%width {
	content:'';
	display: block;
	height: 2px;
	width: 65px;
	background-color: rgb(215, 206, 197);
	position: absolute;
	top: 20px;
	border-radius: 50%;
}
%line {
	content: '';
    background-color: #fff;
    position: absolute;
    text-align: center;
    display: block;
    width: 120px;
    height: 5px;
}
%lines {
	content: '';
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
    position: absolute;
    height: 50px;
    width: 100px;
    top: -60px;
}
.s-advantages {
	h1 {
		position: relative;
		&:before {
			content: 'advantages';
		    text-transform: uppercase;
		    font-family: $font-bold;
		    font-size: 98px;
		    color: rgba(40,40,40,.2);
		    position: absolute;
		    top: -40px;
		    margin: auto;
		    display: block;
		    width: 100%;

		}
	}
	&__card {
		text-align: center;
		margin-bottom: 40px;
		&-image {
			width: 100%;
			height: 100%;
			margin-bottom: 20px;
			img {
				border: 5px solid #656258;
				border-radius: 5px;
				margin: auto;
			}
		}
		&-title {
			text-align: center;
			position: relative;
			margin-bottom: 20px;
			&:before {
				@extend %width;
				left: 50px;
			}
			&:after {
				@extend %width;
				right: 50px;
			}
		}
		&-main {
			width: 85%;
			margin: auto;
			line-height: 1.4;
			font-size: 24px;
		}
	}
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
			&:before {
				background-image: url('/img/line/line1.png');
				@extend %lines;
			    left: 85px;
			}
			&:after {
				background-image: url('/img/line/line3.png');
				@extend %lines;
			    right: 85px;	
			}
			.s-advantages__content__card {
				width: 47%;
			}
		}
		&__maincard {
			background-color: transparent;
			text-align: center;
			padding: 25px 20px;
			border-radius: 90px;
			border: #c9c7c1 5px solid;
			margin: auto;
			margin-bottom: 50px;
			width: 100%;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			&-wrapp {
				background-color: #c9c7c1;
				border-radius: 60px;
				padding: 20px;
				box-shadow: 10px 15px 15px 0px #e5e6e6;
			}
			&:before {
				@extend %line;
			    top: -5px;
			}
			&:after {
				@extend %line;
			    bottom: -5px;
			}
			&-title {
				font-size: 30px;
				line-height: 1.25;
			}
		}
		&__card {
			background-color: #c9c7c1;
			text-align: center;
			padding: 10px;
			border-radius: 20px;
			box-shadow: 10px 15px 15px 0px #e5e6e6;
			height: auto;
			&--line1 {
				&:nth-child(1) {
					&:before {
						background-image: url('/img/line/line2.png'); 
						@extend %lines;
						width: 45px;
						height: 7px;
						top: -30px;
    					left: 145px;
					}

				}
			}
			&--line2 {
				&:nth-child(1) {
					&:before {
						background-image: url('/img/line/line2.png'); 
						@extend %lines;
						width: 45px;
						height: 7px;
						top: -30px;
    					right: 145px;
					}

				}
			}
			
			&-image {
				margin-bottom: 20px;
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				&:before {
					content: '';
					height: 2px;
					width: 100px;
					background-color: #ededeb;
					display: block;
					position: absolute;
					z-index: 500;
					top: 70px;


				}
			}
			&-title {
				font-size: 20px;
				line-height: 1.25;
				margin-bottom: 10px;
				min-height: 50px;
			}
		}
	}
}
// Section SERVICES
.s-services {
	background-color: #f3f2f2;
	.h2 {
		padding-top: 80px;
		position: relative;
		&:before {
			content: 'services';
		    text-transform: uppercase;
		    font-family: $font-bold;
		    font-size: 98px;
		    color: rgba(40,40,40,.2);
		    position: absolute;
		    top: -40px;
		    margin: auto;
		    display: block;
		    width: 100%;
		    padding-top: 80px;

		}
	}
	.row {
		justify-content: center;
		align-items: baseline;
	}
	&__card {
		text-align: center;
		margin-bottom: 40px;
		&-image {
			margin-bottom: 20px;
		}
		&-title {
			font-size: 25px;
		}
	}
}
// Section CERTIFICATES
.s-certificates {

	.h2 {

		&:before {
			content: 'certificates';
		    text-transform: uppercase;
		    font-family: $font-bold;
		    font-size: 98px;
		    color: rgba(40,40,40,.2);
		    position: absolute;
		    top: -40px;
		    margin: auto;
		    display: block;
		    width: 100%;

		}
	}
	&-image {
		height: 600px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		box-shadow: 4px 4px 10px 5px #00000059;
	}
}
// Section WORKS
%quote {
    content: '';
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: block;
    height: 25px;
    width: 25px;
}
.swiper-button-prev {
	background-image: url('/img/left-arrow.svg');
	background-color: red;
	top: 0;
	left: 0;
}
.swiper-button-next {

}
.s-works {
	background-color: #f3f2f2;
	
    .row {
        justify-content: center;
    }
	.h2 {
		padding-top: 80px;
		&:before {
			content: 'our works';
		    text-transform: uppercase;
		    font-family: $font-bold;
		    font-size: 98px;
		    color: rgba(40,40,40,.2);
		    position: absolute;
		    top: -40px;
		    margin: auto;
		    display: block;
		    width: 100%;
			padding-top: 80px;
		}
	}
	&-slide {
		height: 350px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
    &-blockquote {
        position: relative;
        padding: 30px;
        margin: 30px 0;
        text-align: center;

        cite {
            font-family: $font-bold;
            font-weight: 800;
        }
        &:before {
            @extend %quote;
            background-image: url("/img/left-quotes.svg");
            top: 0px;
            left: -50px;
        }
        &:after {
            @extend %quote;
            background-image: url("/img/right-quotes.svg");
            bottom: 0px;
            right: -50px;
        }
    }
}
// Section WHY
.s-why {
    &__content {
        text-align: center;
        font-style: italic;
        line-height: 1;
        &-title {
            line-height: 1.4;
            text-transform: uppercase;
            font-size: 32px;
            margin-bottom: 40px;
            b {
               font-style: normal;
            }
        }
    }
}
// Section MAP 
%input {
	text-align: center;
	border-radius: 10px;
	border: 2px solid #222;
	padding: 10px 15px;
}
	.s-map {
		position: relative;
		
		&-form {
			position: absolute;
			top: 12%;
    		right: 20%;
			background-color: #fff;
			border: 2px solid #222;
			border-radius: 10px;
			&-wrapper {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				padding: 20px;
				&__title {
					margin-bottom: 20px;
					font-family: $font-bold;
					font-weight: 700;
					font-size: 25px;
					text-align: center;
					line-height: 1.2;
				}
				&__image {
					margin-bottom: 10px;
					img {
						height: 40px;
						width: 40px;
					}
				}
				&__main {
					form {
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						align-items: center;
						input {
							margin-bottom: 20px;
							@extend %input;
						  	color: rgb(40, 40, 40);

							&:nth-child(2) {
								margin-bottom: 40px;
							}
						}
						a {
							@extend %input;
							display: block;
							width: 100%;
							font-family: $font-bold;
							font-weight: 700;
							font-size: 20px;
						}
					}
					
				}
			}
		}
	}
// footer
.footer {
    padding-top: 40px;
    margin-bottom: 80px;
    line-height: 1.4;
    &-menu {
        &__item {
            margin-bottom: 25px;
            font-size: 20px;
        }
    }
    &-social {
        &__item {
            margin-bottom: 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &-phones {
            	a {
            		display: block;
            	}
            }
            &-icon {
            	background-color: #e8e7e4;
			    -webkit-border-radius: 50%;
			    border-radius: 50%;
			    width: 60px;
			    height: 60px;
			    display: -webkit-box;
			    display: -webkit-flex;
			    display: -ms-flexbox;
			    display: flex;
			    -webkit-box-pack: center;
			    -webkit-justify-content: center;
			    -ms-flex-pack: center;
			    justify-content: center;
			    -webkit-box-align: center;
			    -webkit-align-items: center;
			    -ms-flex-align: center;
			    align-items: center;
			    margin-right: 10px;
            	img {
            		height: 30px;
            	}
            }
        }
    }
}
@import "media"; // Always at the end
