@import "vars";
@import "fonts";
@import "libs";

// Default //
body {
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
	position: relative;
	line-height: 1.5;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
}
section {
	margin-top: 80px;
	margin-bottom: 120px;
}
input, textarea{
	-webkit-appearance: none;
	-moz-appearance:none;
	appearance:none;
	border-radius: 0;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}
.block-center {
	margin: auto;
}
.text-center {
	text-align: center;
}

b, strong {
	font-family: $font-bold;
	font-weight: bold;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
	font-size: 48px;
	font-weight: 700;
	font-family: $font-bold;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 70px;
}
ul,li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
* {
	outline: none;
}
a {
	color: $text;
	display: inline-block;
}

// Стили header

.header {
	.row {
		justify-content: center;
		align-items: center;
	}
	&-logo {
		text-align: center;
		a {
			padding: 20px 0;
		}
	}
	&-menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		&__item {
			padding-left: 20px;
			position: relative;
			&:before {
				content: '\2022';
				display: block;
				position: absolute;
				font-size: 14px;
				left: -10px;
				top: 3px;
			}
			&:first-child:before {
				content: none;
			}
		}
	}
}
%icons {
	background-color: #e8e7e4;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}
// Стили Section AUTO

.s-auto {
	margin-top: 0;
	.row {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&-swiper-container {
		width: 100%;
		position: relative;
	}
	&-slide {
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		height: 800px;
	}
	&-form {
		position: absolute;
		top:150px;
		right: 400px;
		z-index: 500;
		background-color: #d5cfc7;
		opacity: .85;
		border-radius: 20px;
		border-bottom: 2px solid #fff;
		border-top: 2px solid #fff;
        width: 22%;
		&__wrapper {
			padding: 30px;
		}

	}
	&-social {
		width: 100%;
		 background: linear-gradient(to right, #fff 30%, #e8e7e4 30%);
		 padding: 20px 0;
		 .row {
		 	flex-direction: row;
		 }
		 &-wrapp {
		 	display: flex;
		 	justify-content: space-between;
		 	align-items: center;
		 }
		img {
		 	height: 30px;
		 }
	}
	&-social-2 {
		position: relative;
		&-content {
			&__title {
				text-align: center;
				font-family: $font-bold;
			}
		}
		&-icons {
			display: flex;
			width: 90%;
			justify-content: space-around;
			position: absolute;
			top: -80px;
			z-index: 500;
			&__vk {
				@extend %icons;
			}
			&__insta {
				@extend %icons;
			}
		}
	}
	&-social-3 {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		&-phones {
			width: 60%;
		}
		&-icon {
			margin-right: 20px;
		}
	}
	.form {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		input {
			margin-bottom: 20px;

		}
		a {
			width: 100%;
			border-radius: 5px;
			background-color: rgb(60, 60, 60);
			padding: 10px;
			text-align: center;
			 color: rgb(196, 195, 195);
		}
		&__input {
			padding: 10px;
			border-radius: 5px;
			background-color: rgb(182, 180, 175);
			text-align: center;
			width: 100%;
		 	color: rgba(0, 0, 0, 0.502);
		}
	}
}

// Section ADVANTAGES
%width {
	content:'';
	display: block;
	height: 2px;
	width: 65px;
	background-color: rgb(215, 206, 197);
	position: absolute;
	top: 20px;
	border-radius: 50%;
}
.s-advantages {
	h1 {
		position: relative;
		&:before {
			content: 'advantages';
		    text-transform: uppercase;
		    font-family: $font-bold;
		    font-size: 98px;
		    color: rgba(40,40,40,.2);
		    position: absolute;
		    top: -40px;
		    margin: auto;
		    display: block;
		    width: 100%;

		}
	}
	&__card {
		text-align: center;
		margin-bottom: 20px;
		&-image {
			width: 100%;
			height: 100%;
			margin-bottom: 20px;
			img {
				border: 5px solid #656258;
				border-radius: 5px;
			}
		}
		&-title {
			text-align: center;
			position: relative;
			margin-bottom: 20px;
			&:before {
				@extend %width;
				left: 50px;
			}
			&:after {
				@extend %width;
				right: 50px;
			}
		}
		&-main {
			width: 85%;
			margin: auto;
			line-height: 1.4;
			font-size: 24px;
		}
	}
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.s-advantages__content__card {
				width: 47%;
			}
		}
		&__maincard {
			background-color: #c9c7c1;
			text-align: center;
			padding: 25px 10px;
			border-radius: 50px;
			box-shadow: 10px 15px 15px 0px #e5e6e6;
			margin: auto;
			margin-bottom: 50px;
			width: 80%;
			position: relative;
			// &:before {
			// 	content: '';
			// 	width: 200px;
			// 	height: 5px;
			// 	background-color: #c9c7c1;
			// 	border-radius: 50%;
			// 	position: absolute;
			// 	top: 0;
			// 	left:5px;
			// }
			// &:after {

			// }
			&-title {
				font-size: 30px;
				line-height: 1.25;
			}
		}
		&__card {
			background-color: #c9c7c1;
			text-align: center;
			padding: 10px;
			border-radius: 20px;
			box-shadow: 10px 15px 15px 0px #e5e6e6;
			height: auto;
			&-image {
				margin-bottom: 20px;
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				&:before {
					content: '';
					height: 2px;
					width: 100px;
					background-color: #ededeb;
					display: block;
					position: absolute;
					z-index: 500;
					top: 70px;


				}
			}
			&-title {
				font-size: 20px;
				line-height: 1.25;
				margin-bottom: 10px;
				min-height: 50px;
			}
		}
	}
}
// Section SERVICES
.s-services {
	background-color: #f3f2f2;
	.h2 {
		padding-top: 80px;
		position: relative;
		&:before {
			content: 'services';
		    text-transform: uppercase;
		    font-family: $font-bold;
		    font-size: 98px;
		    color: rgba(40,40,40,.2);
		    position: absolute;
		    top: -40px;
		    margin: auto;
		    display: block;
		    width: 100%;
		    padding-top: 80px;

		}
	}
	.row {
		justify-content: center;
		align-items: center;
	}
	&__card {
		text-align: center;
		margin-bottom: 40px;
		&-image {
			margin-bottom: 20px;
		}
		&-title {
			font-size: 25px;
		}
	}
}
// Section CERTIFICATES
.s-certificates {

	.h2 {

		&:before {
			content: 'certificates';
		    text-transform: uppercase;
		    font-family: $font-bold;
		    font-size: 98px;
		    color: rgba(40,40,40,.2);
		    position: absolute;
		    top: -40px;
		    margin: auto;
		    display: block;
		    width: 100%;

		}
	}
	&-image {
		height: 600px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		box-shadow: 4px 4px 10px 5px #00000059;
	}
}
// Section WORKS
%quote {
    content: '';
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: block;
    height: 25px;
    width: 25px;
}
.s-works {
	background-color: #f3f2f2;
	.arrow-swiper-button {
		display: inline-flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left:0;
	}
    .row {
        justify-content: center;
    }
	.h2 {
		padding-top: 80px;
		&:before {
			content: 'our works';
		    text-transform: uppercase;
		    font-family: $font-bold;
		    font-size: 98px;
		    color: rgba(40,40,40,.2);
		    position: absolute;
		    top: -40px;
		    margin: auto;
		    display: block;
		    width: 100%;
			padding-top: 80px;
		}
	}
	&-slide {
		height: 350px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
    &-blockquote {
        position: relative;
        padding: 30px;
        margin: 30px 0;
        text-align: center;

        cite {
            font-family: $font-bold;
            font-weight: 800;
        }
        &:before {
            @extend %quote;
            background-image: url("/img/left-quotes.svg");
            top: 0px;
            left: -50px;
        }
        &:after {
            @extend %quote;
            background-image: url("/img/right-quotes.svg");
            bottom: 0px;
            right: -50px;
        }
    }
}
// Section WHY
.s-why {
    &__content {
        text-align: center;
        font-style: italic;
        line-height: 1;
        &-title {
            line-height: 1.4;
            text-transform: uppercase;
            font-size: 32px;
            margin-bottom: 40px;
            b {
               font-style: normal;
            }
        }
    }
}
// footer
.footer {
    padding-top: 40px;
    margin-bottom: 80px;
    &-menu {
        &__item {
            margin-bottom: 10px;
        }
    }
    &-social {
        &__item {
            margin-bottom: 10px;
        }
    }
}
@import "media"; // Always at the end
